 .imagen-contenedor {
     border: 2px solid #000;
     padding: 15px;
     border-radius: 5px;
     background-color: #f8f9fa;
     margin-bottom: 15px;
     text-align: center;
 }

 .grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 15px;
 }

 .imagen-contenedor img {
     max-width: 100%;
     height: auto;
 }

 .titulo {
     font-size: 20px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 10px;
 }

 .footer {
     text-align: center;
     margin-top: 20px;
     padding: 10px;
     background-color: #f8f9fa;
     border-top: 2px solid #000;
 }